/*
단위와 값
\
상대길이 - em, rem
*/

div {
  border: 1px solid silver;
  padding: 1px;
}

/* 1em === 부모의 font-size*/
/* 1rem === root의 font-size*/

.parent {
  color: blue;
  font-size: 2rem;
}

.child {
  color: red;
  font-size: 1.5rem;
}