/*
pseudo-Class Selector
  (가상 클래스 선택자)
  */

/* 1. first-child */
li:first-child {
  color: green;
}

.movie:first-child {
  font-size: 32px;
}

/* 2. last-child*/
span:last-child {
  color: tomato;
}

/* 3. nth-child*/
li:nth-child(even) {
  color: hotpink;
}