/*
Pseudo-Class Selector
  (가상 클래스 선택자)
  
  first - child VS first-of-type
  */

/* 1. :first-of-type */
/*p:first-of-type {
  color: red;
}*/

.movie:first-of-type {
  color: red;
}

/* 1. :last-of-type */
p:last-of-type {
  color: blue;
}

/* 1. :nth-of-type() */
p:nth-child(2n) {
  color: blue;
}