/*
opacity
*/

.floating-box {
  width: 400px;
  height: 400px;

  position: fixed;
  top: 10px;
  left: 10px;

  background-image: url("https://interactive-examples.mdn.mozilla.net/media/examples/lizard.png");
  background-color: royalblue;
}