/*
마진 상쇄 (margin collapsing)
*/

body {
  margin: 0;
}

#parent {
  width: 100px;
  height: 100px;

  margin-top: 30px;
  padding: 1px;

  background-color: cadetblue;
}

#child {
  width: 30px;
  height: 30px;

  margin-top: 40px;

  background-color: indianred;
}